
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="keywords" content="" />
<meta name="description" content=" " />
<title>页面一--我的网站</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="__INDEX__/img/favicon.ico" />
<link rel="stylesheet" type="text/css" media="all" href="__INDEX__/css/style.css" />
<link rel="stylesheet" type="text/css"  href="__INDEX__/css/font-awesome.min.css"/>
<script type="text/javascript" src="__INDEX__/js/jquery.min.js"></script>
<script type="text/javascript" src="__INDEX__/js/responsiveslides.min.js"></script>
<script type="text/javascript" src="__INDEX__/js/yycm.js"></script>
</head>
<body>
<!--头部-->
{include file="public/header"}
<div class="wrap" >
  <div class="main" style="width:100%;">
    <div class="article">
      <div class="map"><span> 当前位置<a href="/">首页</a>&nbsp;>&nbsp;<a href="/dlym/">独立页面</a>&nbsp;>&nbsp;<a href="/dlym/ym1/">页面一</a></span> </div>
      <div class="title">
        <h1> 页面一 </h1>
        
      </div>
      <div class="article_content">
        请到栏目管理--模板选项--页面内容里更改这里的文字，支持HTML！      </div>
  </div>
</div>
<div class="clear"></div>
  <!--尾部-->
{include file="public/footer"}
<script type="text/javascript">
var duoshuoQuery = {short_name:"ecms064"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
</body>
</html>