<div class="result-content" style="margin-right:auto;margin-left:auto;width:60%;">
    <b><span style="font-size:16px;background:white;width:100%;">提示</span></b>
    <hr>
    <div class="sch_false" style="background:#fceeeb;height:200px;position:relative;">
        <div style="margin:1rem 1rem 0 1rem;position:absolute;">
            <image src="__ADMIN__/images/error.png" alt="错误图片" style="width:3rem;height:3rem;"/>
        </div>

        <div style="width:50%;height:150px;margin:1.3rem 1rem 0 7rem;position:absolute;">
            <p style="font-size:1.4rem;"><b>关键字匹配失败</b></p><br>
            <p style="color:grey;">&nbsp;系统搜索不到文章关键字:<b style="color:red;">{$keywords}</b></p>
            <p style="color:grey;">&nbsp;现在你可以:&nbsp;&nbsp;重新输入|增加此关键字名称的文章</p>
        </div>
    </div>
</div>