
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="keywords" content="用线" />
<meta name="description" content="用线条创作的微型雕塑 令人惊叹不已 " />
<title>用线条创作的微型雕塑 令人惊叹不已--我的网站</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="__INDEX__/img/favicon.ico" />
<link rel="stylesheet" type="text/css" media="all" href="__INDEX__/css/style.css" />
<link rel="stylesheet" type="text/css"  href="__INDEX__/css/font-awesome.min.css"/>
<script type="text/javascript" src="__INDEX__/js/jquery.min.js"></script>
<script type="text/javascript" src="__INDEX__/js/responsiveslides.min.js"></script>
<script type="text/javascript" src="__INDEX__/js/yycm.js"></script>
</head>
<body>
{include file="public/header"}
<div class="wrap" >
  <div class="main">
    <div class="article">
      <div class="map"><span> 当前位置<a href="/">首页</a>&nbsp;>&nbsp;<a href="/funny/">奇·趣事</a>>
        正文 </span> </div>
      <div class="title">
        <h1> 用线条创作的微型雕塑 令人惊叹不已 </h1>
        <div class="subtitle"> <span><i class="fa fa-clock-o"></i> 06-17 </span><span><i class="fa fa-comment-o"></i> <a href="/funny/201406/98.html#comments" class="ds-thread-count" data-thread-key="98">暂无评论</a> </span><span><i class="fa fa-eye"></i> <script src=/e/public/ViewClick/?classid=1&id=98&addclick=1></script> </span><span><i class="fa fa-folder-o"></i> <a href="/funny/" rel="category tag">奇·趣事</a> </span><span> <i class="fa fa-tags"></i><a href="/e/tags/?tagname=%E7%94%A8%E7%BA%BF" target="_blank">用线</a> </span> </div>
      </div>
      <div class="subblock">
          <a href='/e/public/ClickAd?adid=6' target=_parent><img src='__INDEX__/img/cb01fdef686acc857665cb1e43b9d8f6.jpg' border=0 width='728' height='70' alt=''></a>
      </div>
      <div class="article_content">
        
      <p>在生活中我们经常可以看见不同的雕塑，有石雕、木雕、甚至纸雕，不过一般都是大中型的，很少见到微型雕塑。今天阿里百秀小编就给大家介绍一组用线条创作出来的微型雕塑作品，小伙伴们一起来感受艺术之美吧！</p>
<p>这一组微型雕塑作品是由日本艺术家Takahiro Iwasaki创作的，与其他雕塑不同的是这组微型雕塑均以日常生活中常见的线条为元素进行创作，比如人的头发、毛巾上的线、牙刷的刷毛等等，一般的人肯定想不到这些东西也能制作成艺术品吧，所以说我们不能不佩服艺术家们聪明的脑袋。这组微型雕塑作品包括高压电线塔、摩天轮等，虽然看起来块儿比较小，不过每件作品让人都觉得是那么玲玲精致。</p>
<p>看完这组微型雕塑，小伙伴们估计都会觉着这些艺术家们的头脑可真够灵活呐，生活还挺有情趣儿的说！有兴趣的小伙伴们其实也可以自己DIY一些东西，增加点儿生活乐趣。</p>
<p><img class="alignnone size-full wp-image-5264" src="__INDEX__/img/obhf0uaf2qf.jpg" alt="用线条创作的微型雕塑 令人惊叹不已--阿里百秀" width="500" height="333" /></p>
<p><img class="alignnone size-full wp-image-5265" src="__INDEX__/img/uaon45qeujs.jpg" alt="用线条创作的微型雕塑 令人惊叹不已--阿里百秀" width="500" height="666" /></p>
<p><img class="alignnone size-full wp-image-5266" src="__INDEX__/img/dxzc2pmq4gt.jpg" alt="用线条创作的微型雕塑 令人惊叹不已--阿里百秀" width="500" height="334" /></p>
<p><img class="alignnone size-full wp-image-5267" src="__INDEX__/img/u4qixrkewuy.jpg" alt="用线条创作的微型雕塑 令人惊叹不已--阿里百秀" width="500" height="333" /></p>
<p><img class="alignnone size-full wp-image-5268" src="__INDEX__/img/y4abb4x2xju.jpg" alt="用线条创作的微型雕塑 令人惊叹不已--阿里百秀" width="500" height="334" /></p>
<p><img class="alignnone size-full wp-image-5269" src="__INDEX__/img/1c0c1infzig.jpg" alt="用线条创作的微型雕塑 令人惊叹不已--阿里百秀" width="500" height="297" /></p>
<p><img class="alignnone size-full wp-image-5270" src="__INDEX__/img/f5dshuudknm.jpg" alt="用线条创作的微型雕塑 令人惊叹不已--阿里百秀" width="500" height="573" /></p>
<p><img class="alignnone size-full wp-image-5271" src="__INDEX__/img/igl40dhbczs.jpg" alt="用线条创作的微型雕塑 令人惊叹不已--阿里百秀" width="500" height="334" /></p>
          </div>
<div class='pagination'></div>
      <div class="subblock">
          <a href='/e/public/ClickAd?adid=8' target=_blank><img src='__INDEX__/img/fd09c01a975a1aaf833d129f2baf73aa.jpg' border=0 width='728' height='80' alt=''></a>
      </div>
      <div class="postcopyright">
        <p><strong>版权保护: </strong> 本文由 我的网站 原创，转载请保留链接: <a href="/funny/201406/98.html" title=用线条创作的微型雕塑 令人惊叹不已> /funny/201406/98.html</a></p>
      </div>
      <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
      <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["mshare","qzone","tsina","bdysc","weixin","renren","tqq","tieba","douban","bdhome","sqq","mail","copy","print"],"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script> 
    </div>
    <div class="clear"></div>
    <div class="con_pretext">
      <ul>
        <li class="first">上一篇： <a href='/funny/201406/97.html'>3D立体素描，令人叹为观止</a> </li>
        <li class="last">下一篇： <a href='/funny/201406/99.html'>有趣的玻璃树屋幼儿园，室内与室外完美融合</a> </li>
      </ul>
    </div>
    <div class="clear"></div>
    <div class="submain">
      <div class="map">
        <h3>猜你喜欢</h3>
      </div>
      <ul class="related_img">
              </ul>
    </div>
    <div class="clear"></div>
    <div class="submain">
      <div class="comments" id="comments">
<div class="ds-thread" data-category="1" data-thread-key="98" data-title="用线条创作的微型雕塑 令人惊叹不已"></div>
      </div>
    </div>
  </div>
    <!--引入右边栏-->
  {include file="public/info"}
</div>
<div class="clear"></div>
<!--引入尾部-->
{include file="public/footer"}
<script type="text/javascript">
var duoshuoQuery = {short_name:"ecms064"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
</body>
</html>