{include file="public/header"}

<div class="container clearfix">
    {include file="public/left"}

    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">作品管理</a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="" method="post" id="myform">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th width="120"><i class="require-red">*</i>分类名称:</th>
                                <td>
                                    <input class="common-text required" id="cate" name="c_name" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>上级分类:</th>
                                <td>
                                    <select name="c_parent_id" id="c_parent_id">
                                        <option value="0">顶级分类</option>
                                        {volist name='list' id='cate'}
                                            <option value="{$cate.id}"><?php echo str_repeat('&nbsp;&nbsp;',$cate['level']*2),$cate['c_name'];?></option>
                                        {/volist}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>